@page
@using Music_project.NewFolder
@using System.Data
@using Music_project.code
@model Music_project.Pages.XML.IndexModel
@{
    ViewData["Title"] = "Edit een muzieknummer";

    songMethods jsonSM = new songMethods();

    List<Song> liedjes = jsonSM.GetAllSongs();

    if (HttpMethods.IsPost(Request.Method))
    {
        //gegevens uit het formulier halen.
        Song s = jsonSM.getSong(int.Parse(Request.Form["id"]));
        //s.id = Request.Form["id"];
        s.title = Request.Form["song"];
        s.artist = Request.Form["artist"];
        s.year = int.Parse(Request.Form["YOR"]);
        s.time = Request.Form["time"];
        s.genre = Request.Form["genre"];
        jsonSM.WriteDataToFile();
        Response.Redirect("/Playlist");
    }
}

<H1> GOEIE EDIT van @Request.Query["id"]</H1>

<form method="post">
<table class="table table-hover table-striped">
<tr>
        <td>
            <label>Id</label>
        </td>
        <td>
            <input name="id" type="text" value="@Request.Query["id"]" readonly/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Artist</label>
        </td>
        <td>
            <input name="artist" type="text" value="@Request.Query["artist"]"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Song</label>
        </td><td>
            <input name="song" type="text" value="@Request.Query["title"]"/>
        </td>
    </tr>
    
    <tr>
        <td>
            <label>Year of release</label>
        </td><td>
            <input name="YOR" type="number" value="@Request.Query["year"]"/>
        </td>
    </tr><tr>
        <td>
            <label>Genre</label>
        </td><td>
            <input name="genre" type="text" value="@Request.Query["genre"]"/>
        </td>
    </tr><tr>
        <td>
            <label>Time</label>
        </td><td>
            <input name="time" type="number" value="@Request.Query["time"]"/>
        </td>
    </tr><tr>
        <td></td>
        <td>
            <input type="submit"/>
        </td>
    </tr>
</table>
</form>