@page
@using System.Data
@using Music_project.NewFolder
@using Music_project.code
@model Music_project.Pages.PlaylistModel
@{ 
    songMethods sm = new songMethods();
    List<Song> liedjes =   sm.GetAllSongs();
   


}
    <link rel='stylesheet' href="~/lib/font-awesome/css/all.css">
    <style>
        .addsong{
            text-align: center;
        }
    </style>
<header><h1>Dit is de playlist pagina</h1></header>
<table id="playlisttable" class="table table-hover table-striped">
    <tr>
        <td>
            id
        </td>
        <td>
            name artist/band
        </td>
        <td>
            title song
        </td>
        <td>
            year of release
        </td>
        <td>
            audio file
        </td>
        <td>
            time
        </td>
        <td>
            genre
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>   
    @foreach (Song s in liedjes)
    {
        <tr>
            <td>@s.id</td>
            <td>@s.artist</td>
            <td>@s.title</td>
            <td>@s.year</td>
            <td>
                @{
                    if (s.url != null)
                    {
                        <audio controls>
                            <source src="uploads/@s.url"></source>
                        </audio>
                    }
                }
            </td>
            <td>@s.time</td>
            <td>@s.genre</td>
            <td><a 
                asp-page="/DeleteSong" 
                asp-route-id="@s.id">
                <i class="fa-solid fa-trash-can"></i>
            </a></td>
            <td><a 
                asp-page="/EditSong" 
                asp-route-id="@s.id" 
                asp-route-artist="@s.artist" 
                asp-route-title="@s.title" 
                asp-route-year="@s.year"
                asp-route-year="@s.time"
                asp-route-title="@s.genre">
                <i class="fa-solid fa-pen-to-square"></i>
            </a></td>
        </tr>
    }
</table>
<div class="addsong">
    <a asp-page="/addsong" class="addsong">Add song<i class="fa-solid fa-music"></i></a>
</div>